# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
interview-notes.md
requirements-mapping.md

# Test binary
*.test

# Output of go coverage
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
